body {
    background-color: navy;
    color: #55c0e0;
}

.branding {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
}

.branding img {
    width: 90%;
}

.branding a {
    text-decoration: none;
    color: #55c0e0;
    font-size: 1.2rem;
}

.branding a:hover {
    color: #fff;
    transition: 0.3s;
    border: 1px solid white;
    border-radius: 5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #55c0e0;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #fff;
    transition: 0.3s;
    border: 1px solid white;
    border-radius: 5px;
}